<style>

h1{
	float:right !important
}

h1>img{
	width: 200px !important
}

h3{
	background-color: #00334C;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	color: #3dabb6; 
	padding: 19px
}

h3>span{
	border: 1px solid #3dabb6;
	border-radius: 4px;
	background-color: #3dabb6; 
	color: white; 
	padding: 5px
}

ul>li>b{
	border: 1px solid #3dabb6;
	border-radius: 4px;
	background-color: #3dabb6; 
	color: white; padding: 5px;
}
</style>
